$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// colors

$white: #ffffff;
$black: #000000;
$black-shade1: #262626;
$primary-color: #eaa33e;
$dark-gray: #6a5f5f;
$white-smoke:  #F7F7F7;